.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  width: 100vw;
  height: auto;
}

.change {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;

  width: auto;
  height: auto;

  column-gap: 10px;
  padding: 10px;
  margin: 0;
}

/* На странице агронома */
.cultures {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: auto;
  color: #000;

  text-decoration: none;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  column-gap: 10px;
  padding: 10px;

  width: 100vw;
  height: auto;

  padding: 0px;
  margin: 0px;
}

.panel {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  row-gap: 20px;
  padding: 17px 10px 10px 10px;

  width: 350px;
  height: 441px;
  background-color: #fff 0%;
}

.culture-cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 28px;

  padding: 10px;

  width: 1066px;
  min-height: 620px;
}

.add-culture-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: auto;

  padding: 5px 25px;

  border-radius: 7px;
  border: solid 2px #0B722C;
  background-color: #fff;
  color: #0B722C;

  transition: 0.3s initial;
}

.button-add {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1px;
}

.add-culture-button:hover {
  background-color: rgba(11, 114, 44, 0.2);
}

.add-culture-button:active {
  background-color: rgba(11, 114, 44, 0.4);
  border-color: rgba(11, 114, 44, 0.7);
}

.search-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  min-width: 320px;
  width: auto;
  height: auto;

  row-gap: 20px;
  padding: 25px 15px;

  background-color: #fff;
  border-radius: 9px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.search-filter__button {
  display: inline-block;
  text-align: center;

  width: auto;
  height: auto;

  background-color: transparent;
  border: none;

  font-family: 'Inder', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
}

.search-filter__button_black-bold {
  font-weight: 700;
  color: #000;
}

.search-filter__button_grey {
  color: #898181
}

.search-filter__button:hover {
  color: #1e40af; 
  cursor: pointer;
}

.search-filter__button:active {
  color: #2563eb; 
  transform: scale(0.98); 
}

/* Секция с теплицами на странице технолога */
.greenhouses-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 1066px;
  height: auto;

  gap: 28px;
  padding: 10px 65px 10px 94px;
}


.change button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;

  font-family: 'Inder', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  text-decoration: none;
  
  transition: 0.2s;
}

.change button.active_tab {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: auto;
  color: #000;

  text-decoration: none;
}

/* Стили модальных окон */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  overflow: hidden;
}


.modal-overlay-conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 320px;
  height: auto;

  row-gap: 15px;
  padding: 10px;

  border-radius: 20px;

  background-color: white;
}



.modal-overlay__title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  color: #263823;
}

.conteiner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: auto;
  height: auto;

  column-gap: 28px;
  padding: 10px;
}
