.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;  
}

.search-from {
    position: relative;
}

.search-from__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    width: 300px;
    height: 44px;

    padding: 8px 16px;

    background-color: #fff;
    border: solid 1px #9CA3AF;
    border-radius: 15px;
}

.search-from__button {
    position: absolute;
    top: 0;
    left: 252px;
    height: 100%;
    aspect-ratio: 1;

    border: none;

    transition: all 0.3s ease-in-out;
}

.search-from__button::placeholder {
    color: #9CA3AF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1px;
}

.search-from__button:hover {
    transform: translate(-2px, -2px);
}